<article class="ccc" style="margin-top: 2%;">
    <form action="" method="POST" style="display: flex; flex-direction: column; width: 50%; background-color: rgba(0, 0, 0, 0.628); padding: 1%; margin-right: 5%;">
        <p class="display-9" style="margin-left: 2%; font-size: larger; color: aliceblue;">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br>
        </p>
     
        <label for="CI" style="font-size: 7mm; margin-right: 1%;">CI:</label>
        <input type="text" name="CI" class="form-control" style="align-self: center; margin: 1%">
        
        <label for="cel" style="font-size: 7mm; margin-right: 1%;">Celular:</label>
        <input type="text" name="cel" class="form-control" style="align-self: center; margin: 1%">

        <label for="Correo" style="font-size: 7mm; margin-right: 1%;">Correo:</label>
        <input type="email" name="Correo" class="form-control" style="align-self: center; margin: 1%">
        
        <label for="Ped" style="font-size: 7mm; margin-right: 1%; margin-left: 1%;">Pedido:</label>
        <select name="Pad" id="cars" class="form-control" style="align-self: center; margin: 1%;">
            <option value="1">Producto 1</option>
            <option value="2">Producto 2</option>
            <option value="3">Producto 3</option>
            <option value="4">Producto 4</option>
            <option value="5">Producto 5</option>
            <option value="6">Producto 6</option>
          </select>

        <label for="can" style="font-size: 7mm; margin-right: 1%;">Cantidad:</label>
        <input type="number" name="can" class="form-control" style="align-self: center; margin: 1%">
        
        <label for="des" style="font-size: 7mm; margin-right: 1%;">Descuento:</label>
        <input type="text" name="des" class="form-control" style="align-self: center; margin: 1%">

        <button type="submit" class="btn btn-dark" style="width: 40%; margin-top: 1%;">Enviar</button>
        <h1 style="font-size: 4mm; margin-right: 1%; margin-left: 1%; margin-top: 3%;">Se te enviara el pedido.</h1>
    </form>
    <img src="./assets/Sera.jpg" alt="" style="border-radius: 3%;">
  </article>