body{
    background: url(./assets/3.jpg);
}

.cc{
    display: flex; 
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 3%;

    background-color: rgba(0, 0, 0, 0.626);
    padding: 3%;
    border-radius: 2%;
}

.t{
    color: aliceblue;
    margin-right: 65%;
}

.tt{
  color: aliceblue;
  margin-right: 30%;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #97CECE #DFE9EB;
  }
  
  /* Chrome, Edge and Safari */
  *::-webkit-scrollbar {
    width: 10px;
    width: 10px;
  }
  *::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #000000;
  }
  
  *::-webkit-scrollbar-track:hover {
    background-color: #ffffff;
  }
  
  *::-webkit-scrollbar-track:active {
    background-color: #ff5c5c;
  }
  
  *::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #eb9090;
  }
  
  *::-webkit-scrollbar-thumb:hover {
    background-color: #000000;
  }
  
  *::-webkit-scrollbar-thumb:active {
    background-color: #000000;
  }